*{
    padding:0px;
    margin:0px;
}


.navbar{
   
    height: 50px;
    
}

.nav-item{
    
    
   font-size:20px;
   margin:500px;
   font-weight:bolder;
}



.nav-item a:hover{
    background-color: teal;
    color:black !important;

}
#head{
    text-align: center;
}

